<!DOCTYPE html>
{% load static %}

<head>
    <title>Qless - Demo</title>
    <link rel="stylesheet" href="{% static 'Info/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Info/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Info/css/bot-template.css' %}">

    <script src="{% static 'Info/js/jquery.js' %}"></script>
    <script src="{% static 'Info/js/bootstrap.js' %}"></script>
    <script src="{% static 'Info/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Info/js/bot-script.js' %}"></script>

    <style type="text/css">
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>

<body>

<ul>
    <li><img src="{% static 'Info/images/qless.png' %}" style="width:100px;height:50px;"></li>
    <li><a class="active" href="#home">Orders</a></li>
    <li><a href="#news">Dashboard</a></li>
</ul>

<div class="container">
    <div class="row">

        <section class="content">
            <h1>Sho's Japanese Restaurant</h1>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                        </div>
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody id="page-main-body">
                                    <tr data-status="pagado">
                                        <div class="media">
                                            <div class="row" style="width:700px;" id="first-in-queue">
                                                <div class="col-md-3">
                                                <a href="#" class="">
                                                    <img src="{}" class="media-photo" id="first-queue-img" style="width:150px; height:150px;">
                                                </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 class="title">
                                                        To prepare:
                                                        <span class="pagado" id="first-queue-name" style="color:green;">-</span>
                                                    </h4>
                                                    <br>
                                                    <h4 class="title">
                                                        Order ID:
                                                        <span class="pagado" style="color:blue;">#0192</span>
                                                    </h4>   
                                                    <br>
                                                    <h4 class="title">
                                                        Special requests:
                                                        <span class="pagado" style=""> - </span>
                                                    </h4>   
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-danger" onclick="buttonClicked()" style="width:100%;">Order complete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-footer">
                    <p>
                        Qless - 2017 <br>
                        Powered By Team REP </a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "/store-details/multi-queue-order/1/",
            success: function(result) {
                var orders_list         = result["orders"];
                first_order             = orders_list[0];
                next_orders             = orders_list.slice(1,orders_list.length);
                updateTopImage(first_order);
                updateOtherImage(next_orders);
                console.log(orders_list);
            },
            error: function(result) {
                console.log("Failed");
            }
        });
    })

    var food_menu_id        = { 
                                1:{ "name":"Sushi platter",
                                    "source":"static/Info/images/sushi.jpg"},
                                2:{ "name":"Ramen bowl",
                                    "source":"static/Info/images/ramen.png"}, 
                            };

    function updateTopImage(img_id){
        var first_queue_image          = document.getElementById("first-queue-img");
        var first_queue_name           = document.getElementById("first-queue-name");

        first_queue_image.src           = food_menu_id[img_id]["source"];
        first_queue_name.textContent    = food_menu_id[img_id]["name"];
    }

    function deleteQueue(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "store-details/remove-order/1", false);
        xhr.send()
        console.log(xhr.responseText);
    }

    function updateOtherImage(next_orders){
        for (itr =0; itr <next_orders.length; itr++){
            food_id         = next_orders[itr];
            var string      = '<tr data-status="pagado"><div class="media"><div class="row" style="width:700px; opacity:0.4;"><div class="col-md-3"><a href="#" class=""><img src=" ' + food_menu_id[food_id]["source"] +' " class="media-photo"  style="width:150px; height:150px;"</a></div><div class="col-md-6"><h4 class="title">In Queue:<span class="pagado" style="color:green;">' + food_menu_id[food_id]["name"] + '</span></h4><br><h4 class="title">Order ID:<span class="pagado" style="color:blue;">#0193</span></h4><br><h4 class="title">Special requests:<span class="pagado" style=""> - </span></h4></div></div></div></tr>';
            var div         = document.getElementById("page-main-body");
            div.innerHTML   = div.innerHTML + string
        }
    }

    function buttonClicked(id){
        $.ajax({
            type: "GET",
            url: "/store-details/multi-queue-order/1/",
            success: function(result) {
                console.log(result["orders"])
                deleteQueue();
                window.location.reload();
                
            },
            error: function(result) {
                console.log("Failed");
            }
        });
    }

    // function buttonClicked(){
    //     console.log(food_menu_id[2]["name"]);
    // }
</script>